@{
    ViewBag.Title = "Acerca de ";
}
<h2>@ViewBag.Title ejemplo de MVC 5</h2>
<h3>
    Este sitio es un ejemplo de cómo implementar un CRUD con MVC 5 y Ajax utilizando modal para las operaciones CRUD...<br />
</h3>

<p>El código está disponible en la siguiente url: <a href="https://github.com/oyuky/CRUDMVC5" target="_blank">CRUDMVC5</a></p>
<p>@ViewBag.Message</p>
