@{
    ViewBag.Title = "Acerca de...";
}
<h2>@ViewBag.Title CRUD básico con MVC 5</h2>
<h3>Este sitio es un ejemplo de como implementar un CRUD con MVC 5, y espero que sea de utilidad. =)</h3>
<p>@ViewBag.Message</p>
